body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.map-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background: #343332;
    margin-left: 20px;
    overflow: auto;
    border-radius: 3px;
    padding: 10px;
}

#features {
    top: 0;
    height: 150px;
    margin-top: 20px;
    width: 250px;
}

a {
    color: white;
}

a:hover {
    color: #85754d;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* the style of the layer control menu */
#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

/* each layer on the menu */
#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

/* the last item of the layer items will not include a seperator */
#menu a:last-child {
    border: none;
}

/* change color and background color while a pointer is on an hybrid link. */
#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #4b2e83;
    color: #85754d;
}

#menu a.active:hover {
    background: #362161;
}